<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node JS</title>
</head>
<body>
    <% include Partial/nav.ejs %>
    <div class="container">
        <h2>Contact</h2>
        <p> Phone No: 01534618623 <br /> Email: 16103030@iubat.edu</p>
    </div>
</body>
</html>